doctype html
html
  head
    meta(charset='utf-8')
    title color-memory
    meta(name='description', content='sample-description')
    meta(name='viewport', content='width=device-width')

    link(rel='stylesheet', href='assets/styles/style.css')
  body: .l-wrap
    header.l-header: .l-container
      h1 カラバリ班サイト
      
    main.l-main.p-top
      section.l-container__m
        .p-random.u-mL 
          #btn.c-btn ランダムスイッチ
          p.u-mS#area ここに順番が表示されます。
        .p-red.u-mL
          h2 赤ページ
          a(href='red/page1.html').c-btn 
            span.c-btn--span 1
            | 類似
          a(href='red/page2.html').c-btn
            span.c-btn--span 2
            | 明度対象
          a(href='red/page3.html').c-btn
            span.c-btn--span 3
            | 彩度対象
          a(href='red/page4.html').c-btn
            span.c-btn--span 4
            | 明彩度対象
        .p-blue.u-mM
          h2 青ページ
          a(href='blue/page1.html').c-btn 
            span.c-btn--span 1
            | 類似
          a(href='blue/page2.html').c-btn
            span.c-btn--span 2
            | 明度対象
          a(href='blue/page3.html').c-btn
            span.c-btn--span 3
            | 彩度対象
          a(href='blue/page4.html').c-btn
            span.c-btn--span 4
            | 明彩度対象
        .p-blue.u-mM
          h2 色なし
          a(href='mono/page1.html').c-btn 1
          a(href='mono/page2.html').c-btn 2
          a(href='mono/page3.html').c-btn 3
          a(href='mono/page4.html').c-btn 4
          
      
    footer.l-footer
      p Made by TEAM Color-barri
    script(src="https://code.jquery.com/jquery-3.3.1.min.js",integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
    script(src="assets/scripts/script.js")
    
