.p-top {
  h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }
}

.p-random {
  #btn {
    cursor: pointer;
  }
  #area {
    font-weight: bold;
    font-size: 26px;
  }
}

.p-red {
  color: red;
}
.p-blue {
  color: blue;
}