.l-wrap {
  min-height: 100vh;
  position: relative;
}

.l-main {
  padding-top: 50px;
  padding-bottom: 40px;
  min-height: calc(100vh);
}

.l-container {
  width: 760px;
  margin: 0 auto;
}

.l-container__m {
  width: 600px;
  margin: 0 auto;
}