extends ../layouts/_pages.pug

block title
  title red2

block style
  link(rel="stylesheet", href="../assets/styles/pages/red2.css")

block content_first
  h2 ヨーガが心身に及ぼす効果の検証
  h3 ～大学生ラグビー選手を対象として～
  .c-tag-area
    .c-tag スポーツ

block content_second
  p ラグビー日本代表が取り組んだヨーガを用いたトレーニングによる，ヨーガ実践の前後での関節可動域の変化を明らかにする。
  
block content_third
  ul
    li ラグビー部に所属する大学生２２名を被験者
    li ヨーガ及びストレッチ前に股関節の可動域を計測
    li ヨーガを行う被験者とストレッチを行う被験者に分ける
    li ヨーガまたはストレッチを３０分間行った
    li その後、再び股関節の可動域を計測


block content_fourth
  p 30分間のヨーガ体験がストレッチを実践するよりも，膝関節，股関節などの下半身の柔軟性を高める効果を有することが明らかになった。
  p 一方で、関節可動域が広がらない被験者も存在した。