.p-section--first, .p-section--third {
  background-color: #0F218B;
  color: #91A4B6;
  .c-tag {
    border-color: #91A4B6;
  }
}

.p-section--second, .p-section--fourth {
  background-color: #91A4B6;
  color: #0F218B;
}