.p-section--first, .p-section--third {
  background-color: #386CB0;
  color: #233B8B;
  .c-tag {
    border-color: #233B8B;
  }
}

.p-section--second, .p-section--fourth {
  background-color: #233B8B;
  color: #386CB0;
}