.p-section--first, .p-section--third {
  background-color: #F9344C;
  color: #CA1028;
  .c-tag {
    border-color: #CA1028;
  }
}

.p-section--second, .p-section--fourth {
  background-color: #CA1028;
  color: #F9344C;
}