.p-section--first, .p-section--third {
  background-color: #EE0026;
  color: #7D4F5B;
  .c-tag {
    border-color: #7D4F5B;
  }
}

.p-section--second, .p-section--fourth {
  background-color: #7D4F5B;
  color: #EE0026;
}