.p-section--first, .p-section--third {
  background-color: #F9344C;
  color: #3A2C2E;
  .c-tag {
    border-color: #3A2C2E;
  }
}

.p-section--second, .p-section--fourth {
  background-color: #3A2C2E;
  color: #F9344C;
}