extends _pages.pug

block title
  title mono4

block style
  link(rel="stylesheet", href="../assets/styles/pages/mono.css")

block content_first
  h2 障がい者スポーツの理解促進に向けた実践研究
  h3 ～ゴールボール、ボッチャの体験プログラムから～

block content_second
  p ボッチャとゴールボールの競技体験前後で，競技の印象がどのように変化するのか明らかにする
  
block content_third
  p 大学生１６人を被験者
  p 競技の映像を視聴させる。次に、競技の印象評価アンケートを行う。
  p その後、競技体験を行う。最後に再び、競技の印象評価アンケートを行う。

block content_fourth
  p 競技体験後では、ボッチャのほうがゴールボールよりもプラスの印象が残りやすかった。
