extends _pages.pug

block title
  title mono2

block style
  link(rel="stylesheet", href="../assets/styles/pages/mono.css")

block content_first
  h2 ヨーガが心身に及ぼす効果の検証
  h3 ～大学生ラグビー選手を対象として～

block content_second
  p ヨーガによる関節可動域の変化を明らかにする。
  
block content_third
  p 大学生ラグビー選手の２２名を被験者
  p 実験前に股関節の可動域を計測する。
  p ヨーガを行う被験者とストレッチを行う被験者に分け、
  p ヨーガまたはストレッチを３０分行う。
  p その後、再び股関節の可動域を計測する。

block content_fourth
  p ヨーガのほうがストレッチよりも、下半身の関節の柔軟性を高めることが明らかになった。
  p 一方で、関節の可動域に変化のない被験者もいた。