extends _pages.pug

block title
  title mono3

block style
  link(rel="stylesheet", href="../assets/styles/pages/mono.css")

block content_first
  h2 色と作業効率の関係性
  
block content_second
  p 人の作業効率は、色彩環境、性格、色の好みに影響されるのか明らかにする。
  
block content_third
  p 大学生20名を被験者
  p 個人の性格検査を行う。
  p 次に、色の好みと色のイメージに関するアンケートを行う。
  p その後、白色・赤色・青色・緑色の検査用紙を使用し、作業効率のテストを行う。

block content_fourth
  p アンケートで文字が見やすいと回答された色の検査用紙ほど、作業効率が良かった。
  p 緑色の検査用紙が最も作業効率が良く、赤色の検査用紙が最も作業効率が悪かった。