extends _pages.pug

block title
  title mono1

block style
  link(rel="stylesheet", href="../assets/styles/pages/mono.css")

block content_first
  h2 フォントデザインの印象評価

block content_second
  p フォントデザインの印象と個人の性格との関係性を明らかにする。
  
block content_third
  p 大学生１５０名を被験者
  p フォントデザインは１０種類で、それぞれ太字と細字とし、計２０パターンを用意する。
  p 印象評価のアンケートで２０種類の形容詞対を５段階評価させる。
  p その後、個人の性格検査を実施する。

block content_fourth
  p フォントデザインごとの印象の違いが明らかになった。
  p 同じフォントデザインであっても、文字の太さで印象の違いがあることが明らかになった。