extends ../layouts/_pages.pug

block title
  title blue3

block style
  link(rel="stylesheet", href="../assets/styles/pages/blue3.css")
  
block content_first
  h2 色と作業効率の関係性
  .c-tag-area
    .c-tag 心理

block content_second
  p 人の作業効率は、色彩環境や性格と色の好みに影響されるのか明らかにする。
  
block content_third
  ul
    li 大学生20名を被験者
    li 性格の検査
    li 色の好みとイメージに関するアンケー トを行った。
    li 作業効率の検査を９週間に亘って、白・赤・青・緑の検査用紙を使用し、計４回行い、作業効率を測った。



block content_fourth
  p アンケートで文字が見やすいと回答された緑が最も作業量が多かった。
  p 反対に文字が見にくいと回答されていた赤が最も作業量が少なかった。
  p 緑の動揺せずに，気持ちを落ち着かせる特性が作業の効率化を生んだ。
  p 青は深く考えさせる特性により２番目に作業効率が低かった。
  p 赤は気持ちへの影響が大きいことが作業効率低下に影響した。