extends ../layouts/_pages.pug

block title
  title mono1

block style
  link(rel="stylesheet", href="../assets/styles/pages/mono.css")

block content_first
  h2 フォントデザインの印象評価
  .c-tag-area
    .c-tag デザイン

block content_second
  p フォントデザインの印象と個人の性格の関係性を明らかにする
  
block content_third
  p 大学生男女１５０名を被験者。
  p 用意したフォトデザインは１０種類選定し、それぞれ太字と細字の計２０種類用意した。
  p 独自で作成した印象評価のアンケートを使用。アンケートは２０種類の形容詞対を用意し、フォントデザインの印象を評価するもの。
  p 別途で個人の性格調査をアンケートで実施した。

block content_fourth
  p フォントデザインの印象評価のアンケートから,フォント デザインごとの印象の違いが明らかにされた。
  p そこから，同じフォントデザインであっても，細文字,太文字ごとの印象の違いが表れた。