extends ../layouts/_pages.pug

block title
  title mono4

block style
  link(rel="stylesheet", href="../assets/styles/pages/mono.css")

block content_first
  h2 出生順位と性格・スポーツ経験の関連性
  .c-tag-area
    .c-tag スポーツ

block content_second
  p 出生順位と競技経験の関連性を明確にすることにより，スポーツの潜在的な能力の発見に寄与すること
  
block content_third
  ul
    li 大学生２９７名で有効回答率は７２％
    li 兄弟構成とスポーツ経験についてのアンケート、カリフォルニア人格検査を行う
    li 出生順位とスポーツ経験の相互関係、性格(CPI)と出生順位の相互関係、性格(CPI)とスポーツ経験の相互関係、適性タイプと出生順位の関連性について、それぞれ解析


block content_fourth
  p 性格とスポーツ経験の相互関係のみであった．出生順位とスポーツ経験の関連性を証明することは不可能であった。
  p 団体競技に打ち込んだ被験者ほど，心的安定感・優越性・自信尺度・社交性が高く、融通性が低い。
  p 個人競技に打ち込んだ被験者ほど、自己統制力・独立心が高い。
