extends ../layouts/_pages.pug

block title
  title sample

block style
  link(rel="stylesheet", href="../assets/styles/pages/mono.css")

block content_first
  h2 出生順位と性格・スポーツ経験の関連性

block content_second
  p 出生順位と競技経験の関連性を明確にすることにより，スポーツの潜在的な能力の発見に寄与する
  
block content_third
  p 大学生２９７名
  p 兄弟構成とスポーツ経験についてのアンケート，カリフォルニア人格検査を行う。
  p 出生順位 とスポーツ経験の相互関係，性格と出生順位の相互関係，性格とスポーツ経験の相互関係，適性タイプと出 生順位の関連性について，それぞれ解析する。

block content_fourth
  p 団体競技に打ち込んだ被験者ほど，心的安定感・優越性・自信尺度・社交性が高く、融通性が低かった。
  p 個人競技に打ち込んだ被験者ほど、自己統制力・独立心が高かった。